@model Product

@{
    ViewData["Title"] = "Index";
}

<img class="" src="@Model.PictureLink" style="width: 600px; height: 400px;"/>

@foreach(var p in typeof(Product).GetProperties().Where(p => p.Name != "PictureLink"))
{
    <div>@p.Name: @p.GetValue(Model)</div>
}

<a class="btn btn-light" style="margin:10px" asp-controller="Home" asp-action="Index" role="button">Продолжить покупки</a>
<a class="btn btn-light" style="margin:10px" href="/cart/add?productId=@Model.Id" role="button">Добавить в корзину</a>